*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#particles canvas{
    z-index: -1;
}

.header{
    display: flex;
    align-items: center;
    height: 7vh;
    color: white;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: bold;
}

.heading{
    margin: 0px -100px;
}

.heading,.user-display{
    cursor: pointer;
}